Rk1SACAyMAAAAAFWAAAAyAGQAMUAxQEAAAAoNIBtANz1L4B5AOxvL4CMAPZ2KECWAPFcKIBAANMJXYBKAQ2XXYCuAPhzB0C2APBkDUCkAJ17PICzAQ90FICgASuwKEBqAUIkV4CPAVAdXUB1AF+CZECSAWEPZEC3AFruSUAtAXERZECpABiJG4B4ANd3L4BkAPR/NYCZANfTPEBIAPR2NUBVARGfUECWARStPIAsAM8eXYAqAOcZUIBnAIv7ZIApARSMUECOATwoUECyAIrqIYAWAI+YZEBhAVsfZEA2AF4LZEB3AXMRZIAuAEQNXYBnAM2EQ0CGAMptNYBaALn6XYCiAONPIUCoAL7fV4BkAJz8ZICMAJt5NUC4AQHkB0B4AS6jSYBQAIiMZEAQAP6JPEA0ATkdV0AfATiOSUB0AFX/ZEBhAWoZZIC1AEh4SUCiAB8RPAAA
